<h3>Campaign Show</h3>

<div class="ui grid">
  <div class="row">
    <div class="ten wide column">
      <div class="ui cards">
        <div *ngFor="let item of items" class="card">
          <div class="content">
            <div class="header">{{item.header}}</div>
            <div class="meta">{{item.meta}}</div>
            <div class="description">
              {{item.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <app-contribute-form [address]="campaignAddress"
                           (submitted)="refresh()"></app-contribute-form>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <a [routerLink]="['', 'campaigns', campaignAddress, 'requests']"
         class="ui button primary">
        View Requests
      </a>
    </div>
  </div>
</div>



